@model  WebApplication1.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <h2>Login</h2>
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
    {
        @*@Html.ValidationSummary(false, "", "error");*@
        <div class="container">
            <label for="uname"><b>LoginID</b></label>
            @Html.TextBoxFor(model => model.AdminId, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.AdminId, "", new { @class = "text-danger" })
            <br />
            <label for="psw"><b>Password</b></label>
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    }
</body>
</html>


